*
{
    padding: 0;
    margin: 0;
}
html,body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem
}

#home
{
    height: 100vh;
    width: 100%;
    background: url("/assets/backgrounds/h_img.jpg") center center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-content: center

}

#home div
{
    max-width: 960px;
    height: 100%;
    text-align: center;

    color: white;

    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    align-items: center
}

#home div img:first-child
{
    width: 50px;
    align-self:end;
    justify-self: center;

    margin-bottom: 2rem;
}

#home div img:last-child
{
    width: 20px;
    align-self:center;
    justify-self: center
}

.welcome
{
    font-size: 4rem;
    
}
.tag-line
{
   align-self: start
}
.mouse-click
{
    cursor: pointer;
}

/* about us */

#about-us
{
    background: #EFF0E0;
}

.about-us-text
{
    width: 30%;
    margin: 0 auto;
    text-align: center;

    padding-bottom: 2rem;
    color: #3c3c3c;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center
}

/* services */
#services
{
    background: url("/assets/backgrounds/s_image.jpg") center center/cover no-repeat;
    color: white
}

.services-text
{
    width: 30%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    padding-bottom: 2rem;

    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center
}

/*What we do */

#what-we-do
{
    background: #EFF0E0;
}
#what-we-do h1
{
    text-align: center;
    padding: 1rem ;
    font-size: 1rem;
}
#what-we-do img
{
    width: 79px;
    height: 76px;
}
.what-we-do-text
{
    display: flex;
    justify-content: space-around;
    padding: 0 5rem;
    text-align: center;
    padding-bottom: 2rem
}
.what-we-do-text p
{
    font-size: 1rem
}

/* portfolio */
#portfolio
{
    background: #EFF0E0;   
}

#portfolio h1
{
    text-align: center;
    padding: 2rem;
    color: #706f6a;
}

.portfolio
{
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,200px);

    grid-gap: 2rem;
    padding-bottom: 5rem;
    
    
}

.portfolio div:nth-child(1)
{
    background: url("/assets/portfolio/work1.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(2)
{
    background: url("/assets/portfolio/work2.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(3)
{
    background: url("/assets/portfolio/work3.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(4)
{
    background: url("/assets/portfolio/work4.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(5)
{
    background: url("/assets/portfolio/work5.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(6)
{
    background: url("/assets/portfolio/work6.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(7)
{
    background: url("/assets/portfolio/work7.jpg") center center/cover no-repeat;
}

.portfolio div:nth-child(8)
{
    background: url("/assets/portfolio/work8.jpg") center center/cover no-repeat;
}
